/* import fonts */
@font-face {
  font-family: 'okolaksbold';
  src: url('/assets/webfontkit-okolaks/okolaksbold-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksbold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'okolaksbolditalic';
  src: url('/assets/webfontkit-okolaks/okolaksbolditalic-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksbolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'okolaksregular';
  src: url('/assets/webfontkit-okolaks/okolaksregular-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksregular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'okolaksregularitalic';
  src: url('/assets/webfontkit-okolaks/okolaksregularitalic-webfont.woff2') format('woff2'),
       url('/assets/webfontkit-okolaks/okolaksregularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

* {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 1px 1px 1.5px rgba(0, 14, 24, .5);
  font-family: 'okolaksregular', Arial, Helvetica, sans-serif;
  color: var(--almost-black);
}

body {
  height: clamp(667px, 100vh, 100vh);  
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  padding: var(--m-xs) var(--m-l);
  gap: var(--m-xs);
  position: relative;
  width: 100%;
  height: 15%;
}

.header-img {
  height: 5rem;
  margin-right: auto;
}

.header h2 {
  font-size: var(--f-s);
  color: var(--off-white);
}

#header-background {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  opacity: .7;
}


/* Items */

.shop-section {
  background-color: rgba(169, 47, 42, .8);
  height: 60%;
  padding: var(--m-xs) var(--m-l);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.shop-item-block {
  display: flex;
  justify-content: space-around;
  align-content: center;
  background-color: var(--off-white);
  padding: var(--m-xs) 0;
}

.shop-img-block, .shop-add-block {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-img-block img {
  height: 9rem;
}

.shop-info-block {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--blue);
  padding: var(--m-xs) var(--m-l);
}

.shop-info-block p:nth-of-type(1) {
  font-weight: bold;
  color: var(--off-white);
}

.shop-info-block p:nth-of-type(2) {
  color: rgba(238, 240, 235, .7);
}

.shop-info-block p:nth-of-type(3) {
  font-weight: bold;
  color: var(--off-white);
}

.shop-add-block {
  width: 15%;
  
}

.shop-add-block p {
  background-color: rgba(238, 95, 12, 0.6);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  font-size: var(--f-l);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-add-block p:hover {
  background-color: rgba(231, 190, 8, 0.5);
}

.shop-add-block p:active {
  background-color: rgba(65, 93, 155, 0.5);
}

/* CART SECTION*/

.cart-section {
  height: 25%;
  background-color: var(--off-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--m-s) var(--m-l);
}

.cart-section h2 {
  font-size: var(--f-s);
}

.cart-info {
  width: 100%;
  height: 100%;
}

#cart-list {
  width: 100%;
  height: 70%;
}
  

.cart-info ul li {
  font-size: var(--f-xs);
}

.cart-info ul li, .cart-info h3 {
  display: flex;
  justify-content: space-between;
}

.cart-section button {
  padding: var(--m-xs) var(--m-m);
  font-size: var(--f-xs);
  font-weight: bold;
}



/* POPUP */
.hidden {
  visibility: hidden;
  position: absolute;
  top: 15%;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  padding: var(--m-xl) var(--m-xl);
  background-color: rgba(191, 171, 37, .95);
  z-index: 3;
}

.hidden form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: center;
  gap: 1rem;
}

.hidden ul li, .hidden ul li label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--f-xs);
}

.hidden p {
  font-size: var(--f-xs);
  font-style: italic;
}

.hidden h2 {
  font-size: var(--f-xs);
}

.hidden h3 {
  font-size: var(--f-s);
}

.hidden input {
  border: none;
  font-size: var(--f-s);
  font-weight: bold;
  line-height: 1.8rem;
}

#user-note {
  border: none;
  font-size: var(--f-xs);
  line-height: 1.5rem;
  width: 40ch;
}

.hidden button {
  width: 60%;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  height: 2.5ch;
  width: 2.5ch;
  text-align: center;
  cursor: pointer;
  color: var(--off-white);
  background-color: var(--blue);
}

.close:hover {
  background-color: var(--red);
}


:root {
  --f-xs: .9rem;
  --f-s: 1.5rem;
  --f-m: 2.25rem;
  --f-l: 3rem;
  --f-xl: 5.3rem;

  --m-xs: .4rem;
  --m-s: .8rem;
  --m-m: 1.2rem;
  --m-l: 1.6rem;
  --m-xl: 2rem;

  --yellow: rgb(191, 171, 37);
  --orange: rgb(238, 86, 34);
  --blue: rgb(70, 77, 119);
  --off-white: rgb(238, 240, 235);
  --almost-black: rgb(0, 14, 24);
  --red: rgb(169, 47, 42);
}

@media only screen and (max-width: 700px) {
  :root {
    --f-xs: .7rem;
    --f-s: 1.0rem;
    --f-m: 1.8rem;
    --f-l: 2.5rem;
    --f-xl: 4rem;
  
    --m-xs: .2rem;
    --m-s: .4rem;
    --m-m: .6rem;
    --m-l: .8rem;
    --m-xl: 1rem;
  }
  .header-img {
    height: 4rem;
  }
  .shop-img-block img {
    height: 4.5rem;
  }
  .shop-info-block {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--blue);
    padding: var(--m-xs) var(--m-l);
  }
  
  .shop-info-block p:nth-of-type(1) {
    font-size: var(--f-xs);
  }
  
  .shop-info-block p:nth-of-type(2) {
    font-size: var(--f-xs);
  }
  
  .shop-info-block p:nth-of-type(3) {
    font-size: var(--f-xs);
  }
  
  .shop-add-block {
 
  }
  
  .shop-add-block p {
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
  }
  
  h3 span {
    font-size: var(--f-xs);
  }

  .cart-info ul li span {
    font-size: var(--f-xs);
  }
}